.nav_logo {
  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 1.75rem;
  font-weight: bold;
}

.coupon{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bottom{
    display: flex;
    gap: 30px;
}

.left{
    background-color: white;

}

.right{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.coupon_name{
    margin-bottom: 30px;
}